<html>
    <head>

        <!--script type="text/javascript" src=="{{ url_for('static', filename='main.js') }}"></script--> 
        
    </head>
    <Body onload=redirection()>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
        <div>
            results:
            <table>
            <tr><th>input</th><th>change [dB]</th></tr>
            {% for k,v in res.items()%}
            <tr><td>{{k}}</td><td>{{v}}</td></tr>                 
            {%endfor%}
            </table>
        </div>
    </Body>
</html>