<html>
    <head>

        <!--script type="text/javascript" src=="{{ url_for('static', filename='main.js') }}"></script--> 
        <!--meta http-equiv="refresh" content="1" >

    </head>
    <Body>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

        <div>
            <!--button name='OK' onclick="/one">O1</button-->
            
            <a href="/open?name=1"><button>open 1</button></a>
            <a href="/open?name=2"><button>open 2</button></a>
            <a href="/open?name=3"><button>open 3</button></a>
            <a href="/open?name=4"><button>open 4</button></a>
            <a href="/open?name=5"><button>open 5</button></a>
            <a href="/open?name=6"><button>open 6</button></a>
            <a href="/open?name=7"><button>open 7</button></a>
            <a href="/open?name=8"><button>open all</button></a>
            <a href="/open?name=9"><button>close all</button></a>
        </div>
             <div>
            <p>{{ name }} is open</p>
            <p>Power reading is {{power}} mW</p>
    </div>
       
        
    </Body>
</html>