<html>
    <head>

        <!--script type="text/javascript" src=="{{ url_for('static', filename='main.js') }}"></script--> 
        <script type=text/javascript>
            function redirect(){
                alert=('1')
                window.location.hrep = "/ref";
            }
        </script>
    </head>
    <Body onload="redirection()">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
        <div>
            collecting references
        </div>
    </Body>
</html>